body { 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mynerve', cursive;
    background: linear-gradient(rgba(49, 13, 88, 0.3), rgba(154, 38, 236, 0.3)), url(images/market.jpg);
    background-size: cover;
    background-attachment: fixed;
 }





.container { 
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-end-start-radius: 5%;
    border-end-end-radius: 5%;
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-direction: column;
max-height: min-content;
/* min-width: 1vw; */
/* max-width: 50vw; */
width: 50vw;
margin: 2% auto;
background: linear-gradient(to bottom right, #9bf8f3, #36708b);
padding: 0;
position: relative;


}

#head_container {
    max-height: 7vw;
    flex-wrap: wrap;
    /* height: 7vw; */
    margin: 2% auto;
    font-size: 150%;
    color: rgb(65, 5, 120);
    position: relative;
    
}

#item_container {
 /*    display: grid; */
    margin: 0 auto;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: center;
    position: relative;
    min-height: 4vh;
  max-width: 45vh;
}
#item {
    min-height: 3vh;
    max-height: 4vh;
  max-width: 45vh;
    text-align: center;
    background: linear-gradient(to bottom right, #d6f8f6, #70c1e6);
    border-radius: 5%;
    border: none;
    
}

#button {
    background: none;
    border: none;
    max-height: 3.5vh;
    padding-bottom: 0%;
    color: rgb(7, 248, 80);
    font-size: 1em;
    background-color: rgb(65, 5, 120);
    padding: none;
    max-width: 3vh;
    text-align: center;
    cursor: pointer;
}

p {
    background: linear-gradient(to bottom right, #e9f6f6, #9addfc);
    color: rgb(65, 5, 120);
    text-align: center;
    width: 9.5vw;
}

.two { 
    text-decoration: line-through;
}
hr {
    color: none;
    display: none;
}

@media screen and (max-width: 1300px) {
    p {
        width: 150px
    }
}

@media screen and (max-width: 1200px) {
    p {
        width: 12.5vw
    }
}
@media screen and (max-width: 1100px) {
    p {
        width: 13.5vw
    }
}

@media screen and (max-width: 1000px) {
    p {
        width: 145px;
    }
}


@media screen and (max-width: 900px) {
    .container {
        width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .container {
        width: 350px;
    }
}